body {
    font-family: 'Roboto', sans-serif;
}


/** ---------------------Section Containers--------------------- **/

.article-container {
    padding: 0;
}

.container-hero {
    height: 100vh;
    background: url("../images/hero-image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about {
    margin-bottom:0;
}

.container-gallery-header {}

.container-gallery {}

.container-team-header {}

.container-team {
    padding-bottom: 0;
}

.container-signup-header {}

.container-signup {
    margin-bottom: 30px;
}

/** ---------------------Section Headers--------------------- **/

.section-header {
    margin-bottom: 0;
    border-bottom:0;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
}

.text-uppercase {
    text-transform: uppercase;
}

/** ---------------------Components--------------------- **/

.hero-j {
    background-color: transparent;

}

.hero-j .section-header {
    font-weight: bold;
    color: #AE3A21;

}


/** ---------------------Block Dividers--------------------- **/

.block-divider--white {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: whitesmoke;
}

.block-divider--black {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: black;
}


/** ---------------------Buttons--------------------- **/

.button-signup {
    font-weight: bold;
    border-radius:23px;
    width: 160px;
    background-color: #7f7f8d;
    border-color: 7f7f8d;
    color: whitesmoke;
}

.button-signup:hover,
.button-signup:active,
.button-signup:focus,
.button-signup:active:focus {
    background-color: #AE3A21;
    border-color: #AE3A21;
}


/** ---------------------Navbar--------------------- **/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}
.navbar .navbar-toggler {
    border:0;
}

.navbar-dark .navbar-brand {
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
}

.navbar .navbar-nav a {
    font-weight:bold;
}

/** ---------------------Content Containers--------------------- **/

.content-container {
    padding-top: 25px;
    padding-bottom:50px;
}

/** ---------------------Container Wrappers--------------------- **/

.container-wrapper--blue {
    background-color:#003049;
    color:whitesmoke;
}

.container-wrapper--color {
    background-color:#116466;
    color: whitesmoke;
}

/** ---------------------Features--------------------- **/

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}


/** ---------------------Name Headers--------------------- **/

.name-header  {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
}


.round-picture {
    padding-right: 20px;
    padding-left: 20px;
}

.about-header {
    margin-bottom: 60px;
}

.name-header-footer {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    margin-top:15px;
}


/** ---------------------Team Code-Snippet--------------------- **/
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
    font-family: "Montserrat", sans-serif;
    color: whitesmoke;
    font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: black;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 28px;
}

.team4 .subtitle {
    color: whitesmoke;
    line-height: 24px;
	font-size: 18px;
}

/** ---------------------Signup Form--------------------- **/
.padding {
    padding: 5rem !important;
    margin-left: 300px
}

.card {
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.form-control:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #c8ced3 !important;
    outline: 0;
    box-shadow: 0 0 0 #F44336
}

/** ---------------------Footer--------------------- **/

footer {
    background-color: rgba(0,0,0,0.5);
    color:whitesmoke;
    min-height: 30px;
    margin: 0;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: whitesmoke;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background:#AE3A21;
}

/** ---------------------Images--------------------- **/
 .round-picture {
     margin-top: 40px;
 }