div[class="row"] {
    outline: 1px dotted rgba(0, 0, 0, 0.25);
}

div[class^="col-"] {
    background-color: rgba(255, 0, 0, 0.2);
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}

/** ---------------------Section Headers--------------------- **/

.section-header {
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.text-uppercase {
    text-transform: uppercase;
}

/** ---------------------Components--------------------- **/

.alert-secondary {
    background-color: rgba(0, 0, 0, 0.25);
}

.card-body {
    padding-top: 80px;
}

.hero-container {
    height: 100vh;
    background: url("../assets/images/hero-image.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}